Source: ffmperative
Section: misc
Priority: optional
Maintainer: Remyx AI <contact@remyx.ai>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0

Package: ffmperative
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-pip
Description: FFMPerative - video editing through chat using ffmpeg
