Package: ffmperative
Version: 1.0.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Depends: docker-ce
Installed-Size: 1024
Maintainer: Remyx AI <contact@remyx.ai>
Description: FFMPerative Package
